/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
  font-family: 'Nunito';
  box-sizing: border-box;
  color: #eee;
}

body {
  font-size: 16px;
  background: #2f3e46;
  text-align: center;
}

.card {
  background: #354f52;
  box-shadow: 0 3px 6px rgba(15, 15, 15, 0.527), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
  align-content: center;
}

.cardHeader {
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  /* transform: skewY(-4deg); */
  font-size: 1.1rem;
  font-weight: bold;

  margin: auto;
}

.cardBody {
  margin-top: 1rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
}

input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 100%;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
}

input:focus {
  border-bottom: 1px solid #ccc;
}

button {
  background: #84a98c;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 100%;

}

.chatrooms {
  margin-top: 1rem;
}

.chatroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.join {
  background: #f7c52a;
  padding: 0.25rem 1rem;
  border-radius: 2px;
}

a {
  text-decoration: none;
  /* color: #333; */
}
#loginOption{
  background:transparent;
  padding: 0;
  margin: 0;
  border:0;
  width: fit-content;
  font-family: Montserrat;
  box-sizing: border-box;
  color: #84a98c;
  font-size: 16px;
  text-transform: lowercase;
}
#divLogin{
  padding-top: 5%;
  text-align: center;
}
#wellcomeMsg{
  font-family: 'Akronim', cursive;
  font-size: 90px;
}
.index{
  background-color: #354f52;
  border-radius: 0.5em;
}
.index a{
  font-family: 'Indie Flower', cursive;
}